<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
    <title>My Flask App</title>
</head>
<body>

    <div class="centered-text">
        <h1 class="centered-text">Hello, welcome to the camera page</h1>

        <img src="{{ url_for('video_feed') }}" height="80%">

        
    </div>

    <div class="centered-text">
        <a href="/detect_faces">Detect faces</a>
        <a href="/detect_labels">Detect labels</a>
        <a href="/detect_texts">Detect texts</a>
    </div>
    
</body>
</html>